
 /* responsivo tela 768px */

@media(max-width: 768px){
    header nav ul {
        flex-direction: column;
        align-items: center;
        background-color: #564A94;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none;
        overflow-x: hidden;
    }

    header nav ul li {
        margin: 10px 0;
    }

    /* responsivo menu */
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu input[type="checkbox"]:checked ~ nav ul {
        display: flex;
    }
    .perfil-imagem img {
        width: 100%;
        max-width: 180px;
        margin-bottom: 15px;
    }
    .intro, .sobre-mim {
        flex-direction: column-reverse;
        padding: 15px 5px; /* Ajusta o padding interno */
        text-align: center;
    }
    .conosco .container{
        display: flex;
        gap: 0rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 150%;
        
    }
    .conosco .content .content{
        max-width: 65%;
    }
    .conosco .content input{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 32rem;
    }
    .conosco .content textarea{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 32rem;
    }
    .conosco .content button{
        font-size: 1.5rem;
        color:  var(--cor-secundary-branco);
        width: 15rem;
        margin-top: 1rem;
    }
    /* .conosco .heading{
        padding-top: 14rem;
    } */
}


 /* responsivo tela */

@media(max-width: 400px){
    body {
        overflow-x: hidden;
        font-size: 14px; /* Ajuste o tamanho da fonte para caber melhor em telas menores */
    }

    section {
        padding: 0px 15px;
        margin-top: 60px;
    }

    header {
        padding: 10px 5px;
        margin-bottom: 15px;
    }

    .intro, .sobre-mim {
        flex-direction: column-reverse;
        padding: 15px 5px; /* Ajusta o padding interno */
        text-align: center;
    }

    .text h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .text p {
        font-size: 16px;
        margin-bottom: 15px;
        padding: 0 5px;
        text-align: justify;
    }

    .bio h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .bio p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px;
        padding: 0 5px;
        text-align: justify;
    }

    .btn {
        flex-direction: column;
        align-items: center;
    }

    .btn a {
        margin: 10px 0;
        padding: 10px 15px;
        font-size: 16px; /* Ajuste do tamanho da fonte do botão */
    }
    .container .perfil-imagem{ 
        display: none;
    }

    .perfil-imagem img {
        width: 100%;
        max-width: 180px;
        margin-bottom: 15px;
    }

    .projeto h2 {
        font-size: 24px;
    }

    .projeto-lista {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px; /* Ajuste o padding lateral */
    }

    #verMais {
        width: 80%; /* Aumente a largura para melhor visualização */
    }

    .habilidade {
        margin: 15px 10px;
    }

    .habilidade img {
        width: 70px;
        height: 70px;
    }
    .conosco .container{
        display: flex;
        gap: 0rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 150%;
        
    }
    .conosco .content .content{
        max-width: 65%;
    }
    .conosco .content input{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 15rem;
    }
    .conosco .content textarea{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 15rem;
    }
    .conosco .content button{
        font-size: 1.5rem;
        color:  var(--cor-secundary-branco);
        width: 15rem;
        margin-top: 1rem;
    }
    /* .conosco .heading{
        padding-top: 14rem;
    } */
}

@media(min-width: 400px) and (max-width: 760px){
    body {
        overflow-x: hidden;
        font-size: 14px; /* Ajuste o tamanho da fonte para caber melhor em telas menores */
    }

    section {
        padding: 0px 50px;
        margin-top: 60px;
    }

    header {
        padding: 10px 5px;
        margin-bottom: 15px;
    }

    .intro, .sobre-mim {
        flex-direction: column-reverse;
        padding: 15px 5px; /* Ajusta o padding interno */
        text-align: center;
    }

    .text h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .text p {
        font-size: 16px;
        margin-bottom: 15px;
        padding: 0 5px;
        text-align: justify;
    }

    .bio h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .bio p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px;
        padding: 0 5px;
        text-align: justify;
    }

    .btn {
        flex-direction: column;
        align-items: center;
    }

    .btn a {
        margin: 10px 0;
        padding: 10px 15px;
        font-size: 16px; /* Ajuste do tamanho da fonte do botão */
    }

    .perfil-imagem img {
        width: 100%;
        max-width: 180px;
        margin-bottom: 15px;
    }

    .container .perfil-imagem{ 
        display: none;
    }

    .projeto h2 {
        font-size: 24px;
    }

    .display{
        display: flex;
        flex-direction: column;
    }

    #verMais {
        width: 80%; /* Aumente a largura para melhor visualização */
    }

    .habilidade {
        margin: 15px 10px;
    }

    .habilidade img {
        width: 70px;
        height: 70px;
    }
    .conosco .content input{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 15rem;
    }
    .conosco .content textarea{
        font-size: 1.5rem;
        color: var(--cor-primary-dourado);
        width: 15rem;
    }
    .c

}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
        font-size: 1rem;
    }

}
@media(max-width: 768px){
    header nav ul{
        display: none;
    }
    .mobile-menu{
        display: inline-block;
    }
}